# ===============================
# Dependencies
# ===============================
node_modules/
bun.lockb
*.tgz

# ===============================
# Build / Output
# ===============================
dist/
build/
out/

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Coverage
# ===============================
coverage/
*.lcov

# ===============================
# Cache
# ===============================
.cache/
.eslintcache
*.tsbuildinfo

# ===============================
# IDE / Editors
# ===============================
.idea/
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
